header{
    position: absolute;
    width: 100%;
    height: 800px;
    background-image: url("../imagens/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
}
.menuPrincipal ul{
    text-align: end;
    line-height: 70px;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255, 0.5);
    margin: 0;
    font-size: 20px;
}
.menuPrincipal ul li{
    display: inline-block;
    list-style: none;
    padding: 0 30px;
    margin: 0 40px;
}
.tituloBanner h1{
    font-family: 'Goldman', cursive;
    font-size: 90px;
    margin-left: 30px;
    color: orangered;
    -webkit-text-stroke-width: 1px; /* CONTORNO DO TEXTO*/
    -webkit-text-stroke-color: #000;
}

body{
    margin: 0;
}




/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}
