header{
    width: 100%;
    height: 100vh; /*vh = viewport height*/
    background-image: url("../imagens/banner5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    margin: 0;
}

/* MENU */

.menuPrincipal{
    display: flex;
}
.menuPrincipal ul{
    text-align: end;
    line-height: 70px;
    width: 70%;
    /* text-transform: uppercase; */
}
.menuPrincipal ul li{
    display: inline-block;
    list-style: none;
    padding: 0 30px;
    margin: 0 40px;
    /* border-left: 5px solid blue; */
    /* transform: skewX(-20deg); */
}
.menuPrincipal ul li a{
    font-family: 'Josefin Sans', sans-serif;    
    font-size: 25px;
    text-decoration: none;
    color:#5c5bfe;
}
.menuPrincipal ul li a:hover{
    color: rgb(208, 64, 165);
}

/* ICONES DO MENU */

.iconRedes{
    width: 30%;
    text-align: end;
}
.iconRedes .fab{
    font-size: 30px;
    color: white;
    margin: 20px;
}

/* BANNER */

.tituloBanner h1{
    font-family: 'Raleway', sans-serif;
    font-size: 90px;
    margin-left: 30px;
    color: rgb(208, 64, 165);
    width: 50%;
    line-height: 76px;
    /*-webkit-text-stroke-width: 1px;  CONTORNO DO TEXTO
    -webkit-text-stroke-color: #000;*/
}
.tituloBanner h2{
    font-family: "Vesper Libre",serif;
    font-size: 30px;
    margin-left: 30px;
    color: white;
}
.tituloBanner span{
    color: yellowgreen;
}

/* MENU MOBILE */

.menuMobile{
    width: 100%;
    height: 50px;
    background-color: black;
    position: fixed;
    top: 0;
    margin: 0;
    display: none;
}
.menuMobile .fas{
    color: white;
}
.menuMobile .fab{
    color: white;
}

.menuMobile ul {
    padding: 0 15px;
}
.menuMobile ul li{
    display: inline-block;
}
.itensMenuMobile{
    background-color: black;
    width: 50%;
    top: 50px;
    position: fixed;
    display: none;
}
.itensMenuMobile ul{
    margin: 0;
    line-height: 40px;
    text-align: center;
    padding: 0;
}
.itensMenuMobile ul li{
   color: white;
   display: block;
   margin: 10px;
   border-bottom: solid white 1px;
}
.itensMenuMobile ul li a{
   color: white;
   text-decoration: none;
}


/* BODY */

.content{
    /* margin: 0;
    margin-top: 0; */
    background-image: url("../imagens/contentBanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(29, 23, 27); */
    padding: 50px;
}
.sobreMim{
    text-align: justify;
    padding: 10px 80px;
}
.sobreMim h2{
    color: rgb(214, 214, 44);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    /* color: rgb(208, 64, 165); */
}
.sobreMim p{
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 0 75px;
    line-height: 25px;
}
.profilePic img{
    width: 14vw;
    float: right;
    border-radius: 50%;
    margin-left: 20px;
}
/* hr{
    width: 10%;
    margin-left: 0;
    border: 1px solid #5c5bfe;
} */
.sobreMim span{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 100;
}



/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* MENU */
    .menuPrincipal{
        display: none;
    }
    .menuMobile{
        display: block;
    }
    .itensMenuMobile{
        width: 100%;
    }

    /* BANNER */
    .tituloBanner h1{
        width: 100%;
        text-align: center;
        font-size: 35px;
        margin: 50px 0;
    }
    .tituloBanner h2{
        font-size: 20px;
    }

    /* BODY */
    .sobreMim{
        padding: 50px 10px 120px 40px;
    }
    .sobreMim p{
        padding: 0 20px;
    }
    .content{
        padding: 0;
    }
    .profilePic img{
        width: 33vw;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	/* BODY */
    .sobreMim{
        padding: 35px 90px;
    }
}
